<!DOCTYPE HTML>

<html>
	<head>
		<title>Unit 2 Rot 13</title>
	</head>

	<body>
		<h2>Please fill out the form</h2>
		<form method="post">
			Username<input type="text" name="username" value="{{username}}">{{error_username}}
			<br>
			Password<input type="password" name="password" value="">{{error_password}}
			<br>
			Verify Password<input type="password" name="verify" value="">{{error_verify}}
			<br>
			Email<input type="text" name="email" value="{{email}}">{{error_email}}
			<br>
			<input type="submit">
		</form>
	</body>
</html>
